
.node_annotate_line_table tr th {
  width: 12px;
  border-bottom: 0px;
}

.node_annotate_line_table tr td {
  font-family: monospace;
  font-size: 120%;
}

.node_annotate_line_row_even {
  background-color: #EFEFEF;
}

.node_annotate_line_annotation td {
  background-color: #DFDFDF;
}

.node_annotate_line_annotation_user {
  width: 30px;
}

.node_annotate_line_annotation_date {
  width: 180px;
}

.node_annotate_line_annotation_edit {
  width: 20px;
}